body {
    
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #333;
    
}

main {
    height: 100%;
    max-width: 65%;
    background-color: #EAE3E0;
  }

  /* img{
    border-radius: 30px;
    box-shadow: 15px 5px 5px red;
    height: 100%;
    width: 35%;
  } */

  fieldset {
    border: none;
    display: flex;
    gap: 3rem;
  }

  h2{
    padding-left: 2em;
    font-family: Norse;
    font-size: 40px;
    color: crimson;
    background-color: #0d161e;
  }

  button{
    background-color: #596D48;
    color: #DDD;
    padding: 10px 40px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1.2rem;

  }

  .description {
        padding: 3em 2em;
        font-size: 1.25rem;
font-weight: 600;
  }

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 2em;
    padding-top: 3em;
    
    margin-bottom: 3rem;
}

.wrapper{
    display: flex;
    align-items: center;
    height: 700px;
    max-width: 90%;
    border-radius: 1rem;
    box-shadow: 0 0 15px 2px #DDD;
    overflow: hidden;
}

.image-container{
  height: 100%;
  width: 35%;
  background-image: url("odin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.logo-container{
  height: 150px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(115, 52, 52, 0.5);
  font-family: Norse;
  color: rgb(233, 236, 19);
  font-size: 3em;
}

.logo-container img{
  max-height: 100%;
}

.description{
  background-color: #dbe5e8;
}

.button-container{
  padding-left: 2em;
}

